.imagesContainer {
    margin: 20px auto;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.imageWrapper {
    position: relative;
    width: 32%;
    height: 350px;
}

.imagesContainer img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 7px;
}

.imageDetails {
    opacity: 0;
    border-radius: 7px;
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: all 0.4s ease;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.725);
    color: white;
}

.imageWrapper:hover .imageDetails {
    opacity: 1;
    visibility: visible;
}

.imageDetails img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.imageDetails h4 {
    font-size: 21px;
    padding-top: 15px;
}

.imageDetails p {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    color: rgb(220, 220, 220);
}

@media all and (max-width: 1100px) {
    .imagesContainer {
        width: 90vw;
    }

    .imageWrapper {
        position: relative;
        width: 50%;
        height: 350px;
    }

    .imagesContainer img {
        width: 100%;
    }

    .imageDetails img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .imageDetails h4 {
        font-size: 19px;
        padding-top: 15px;
    }

    .imageDetails p {
        padding: 10px;
        font-size: 14px;
    }
}

@media all and (max-width: 580px) {

    .imageWrapper {
        width: 100%;
    }

    .imagesContainer img {
        width: 100%;
    }

    .imageDetails img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}