.searchContainer {
    background-color: rgb(239, 239, 239);
    width: 100%;
    height: 150px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.searchContainer form {
    padding-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.searchContainer input {
    border: none;
    padding: 5px 15px;
    width: 50%;
    height: 50px;
    font-size: 19px;
    outline: none;
    border-radius: 7px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 2px solid white;
    transition: all .3s;
}

.searchContainer h3 {
    padding-top: 20px;
    color: rgb(33, 33, 33);
}

.searchContainer input:focus {
    border: 2px solid rgb(172, 172, 172);
}

.suggestionsContainer {
    background-color: rgb(237, 237, 237);
    width: 49%;
    display: flex;
    flex-direction: column;
    z-index: 100;
    position: absolute;
    left: 25.5%;
    top: 11%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.suggestionsContainer h6 {
    font-size: 16px;
    padding: 5px 10px;
    font-weight: 600;
    color: rgb(45, 45, 45);
    cursor: pointer;
    transition: all .3s;
}

.suggestionsContainer h6:hover {
    background-color: rgb(223, 223, 223);
}

@media all and (max-width: 960px) {
    .searchContainer input {
        width: 80%;
    }

    .suggestionsContainer {
        width: 80%;
    }
}